@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
$Lato: 'Lato', sans-serif;

.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #F71735;
  font-family: $Lato;
  font-size: 145%;

  #logo {
    width: 6em;
  }

  .left-nav, .right-nav {
    display: flex;
    flex-direction: row;
  }

  .nav-item {
    padding: 1.5em;

    :hover {
      cursor: pointer;
    }

    :after {
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      margin-top: 8px;
      content: "";
      display: block;
      height: 3px;
      left: 50%;
      background: #F71735;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
    }

    :hover:after { 
      width: 100%; 
      left: 0; 
    }
  }
}