@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
$Lato: 'Lato', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
$Bungee: 'Bungee', cursive;



.politicianContainer {
  padding-top: 10%;
}


  .politician {
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "politicianImg politicianStats";
    font-family: $Lato;
    padding: 4%;
    margin-top: 5%;
    border-radius: 16px;
    background-color: rgba(0,166,251, 0.4);


    .politicianImg {
      grid-area: 'politicianImg';
      margin-top: 5%;
      text-align: right;
      margin-right: 2rem;


      img {
        border-radius: 50%;
        height: 200px;
        margin-right: 0px;
        align-self: end;
      }
    }

    .politicianStats {
      margin-top: 5%;
      grid-area: 'politicianStats';
      line-height: 1rem;
      overflow-wrap: break-word;

      .header {
        font-family: $Bungee;
      }
    }
  }
