@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
$Lato: 'Lato', sans-serif;


  .politician {
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "politicianImg politicianStats";
    font-family: $Lato;
    padding: 4%;
    // justify-items: center;

    .politicianImg {
      grid-area: 'politicianImg';
      margin-top: 5%;
      text-align: right;
      margin-right: 2rem;


      img {
        border-radius: 50%;
        height: 200px;
        margin-right: 0px;
        align-self: end;
      }
    }

    .politicianStats {
      grid-area: 'politicianStats';
      line-height: 0.5rem;
    }
  }
