@import './_navbar.scss';
@import './_politicans.scss';
@import './_aboutUs.scss';
@import './_searchBar.scss';

body {
  height: 300vh;
  width: 100vw;
  background: white;
  margin: 0;
  padding: 0;
}

